.logoContainer {
	position: relative;
	width: 185px;
	height: 50px;
	cursor: pointer;
	color: #121212;
}

.logoContainer .imgContainer {
	position: relative;
	height: 38px;
	width: 38px;
	float: left;
	
}

.logoContainer .imgContainer img {
	position: absolute;
	height: 100%;
	margin-left: 1em;
	margin-top: .25em;
}

.logoContainer p{
	position: relative;
	font-size: 1.8em;
	top: .25em;
	left: .15em;
}

.logoContainer p span{
	font-weight: bold;
}