.footer {
	position: absolute;
	bottom: 0;
	height: 6em;
	background-color: #f6f6f6;
	width: 100%;
	overflow: auto;

	font-family: "galette";
	/*background-image: url('../../../assets/images/fondos/footer.jpg');
	background-size: cover;*/
}

.footer logo > div{
	margin: 0 auto;
	margin-top: 2em;
}

.footer .rightMenu {
	position: absolute;
	top: 0;
	height: 10px;
	right: 64.6%;
	margin-top: 2.85em; 
}

.footer .rightMenu div {
	padding-right: .75em;
	padding-left: .75em; 
	font-size: .8em;
	border-right: 1px solid #121212; 
}

.noBorder {
	border-right: none !important;
}


.footer .rightMenu div a{
	position: relative;
	cursor: pointer;
	top: -.05em;
	color: #121212;
}

.footer .leftMenu {
	position: absolute;
	top: 3.6em;
	font-size: .8em;
	color: #AC1F2D;
}

@media screen and (min-width: 1024px) {
	.footer .leftMenu {
		left: 65.2%		
	}
} 

@media screen and (min-width: 621px) and (max-width: 1023px) {
	.footer logo > div{
		margin-left: 3.5em;
	}

	.footer .leftMenu {
		top: 4em;
		right: 5.5em;

	}
}

@media screen and (max-width: 620px) {
	.footer logo > div {
		margin-top: 1em;
	}

	.footer .leftMenu {
		top: 6.2em;
		font-size: .65em !important; 
		left: 0;
		right: 0;
		margin: 0 auto;
		text-align: center;
	}	
} 