@font-face {
  font-family: 'FontAwesome';
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galette';
  src: url('../assets/fonts/galette-med.otf');
}

@font-face {
  font-family: 'ubuntu-regular';
  src: url('../assets/fonts/ubuntu-regular.ttf');
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: #f9f9f9;
}

a:link {
    text-decoration: none;
}

/* visited link */
a:visited {
    text-decoration: none;
}

/* mouse over link */
a:hover {
    text-decoration: none;
}

/* selected link */
a:active {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 7px;
    cursor: pointer;
}
 
::-webkit-scrollbar-track {
    background-color: rgba(230,230,230,0.2);
}
 
::-webkit-scrollbar-thumb {
    background-color: #ad172b;
    border-radius: 3px;
}

.centerX {
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}

.centerY {
  top: 0;
  bottom: 0;
  margin-bottom: auto;
  margin-top: auto;

}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}
