<div ng-controller="Navbar as vm">
  <div class="container navbar">

    <div class="navbarLine unselectable">

      <logo class="logo"></logo>

      <div class="optiosContainer flexBox right">
        <div ng-repeat="option in vm.menu">
          <div>
            <a ng-href="{{option.ref}}" du-smooth-scroll du-scrollspy duration="1500" offset="89.7">{{option.text}}</a>
            <div class="dot" ng-if="!$last"></div>
          </div>
        </div>
      </div>

      <hamburguer class="hamburguerIcon"></hamburguer>

    </div>

  </div>
</div>