.container.navbar {
	position: fixed;
	width: 100%;
	height: 3.5em;
	z-index: 15;
	font-family: "galette";
}

.container.navbar .navbarLine {
	width: 100%;
	height: 5.5em;
	position: relative;
	background-color: #ffffff;
	border-bottom: 1px solid #ad172b;
}

.container.navbar .navbarLine .logo > div {
	left: 10em;
	top: 1.35em;
}

.container.navbar .navbarLine .optiosContainer {
	position: absolute;
	width: 450px;
	height: 50%;
	right: 6em;	
	top: 2em;
	letter-spacing: 0.05em;
}

.container.navbar .navbarLine .optiosContainer > div {
	position: relative;
	font-size: .85em;
	padding: 0em 1.5em;
}

.container.navbar .navbarLine .optiosContainer div > a {
	position: relative;
	top: 1.25em;
	color: #121212;
	cursor: pointer;
}

.container.navbar .navbarLine	.hamburguerIcon > div {
	display: none;	
}

@media screen and (max-width: 966px) {
	.container.navbar .navbarLine .logo > div {
		left: 3em;
	}

	.container.navbar .navbarLine .optiosContainer {
		right: 3em;
	}
}

@media screen and (max-width: 816px) {
	.container.navbar .navbarLine .logo > div {
		left: 1em;
		top: 1em;
	}

	.container.navbar .navbarLine .optiosContainer {
		display: none;
	}	

	.container.navbar .navbarLine .hamburguerIcon > div {
		display: block;
		width: 42px;
		height: 32px;
		right: 2em;
		top: .6em;		
	}

	.container.navbar .navbarLine .hamburguerIcon > div > div {	
		background-color: #ad172b;
	}
}

@media screen and (max-width: 370px) {
	.container.navbar .navbarLine .hamburguerIcon > div {
		right: 1em !important;
	}
	.container.navbar .navbarLine .logo > div {
		left: 0em;
		top: 1em;
	}
}


.container.navbar .navbarLine .optiosContainer .dot {
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 15px;
	bottom: 1em;
	right: 0;
	background-color: #ac1f2d;
}