/* Classes for boxs */
.boxR {
	position: relative;
}

.boxA {
	position: absolute;
}

.flexBox {
	display: -webkit-flex;
  display: flex;
}

.flexBox.column {
	flex-direction: column;
	-webkit-flex-direction: column;
}

.flexBox.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flexBox.center {
  justify-content: center;
  -webkit-justify-content: center;
}

.flexBox.right {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.fullScreen {
	position: relative;
}

.fullScreen .textCenter {
  position: relative;
  top: 50%;
  left: 50%;
	width: 100%;
	text-align: center;


  -web-kit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* End classes for boxs */


/* Boxe's decorators */
.topLine,
.bottomLine {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
	height: 1px;
}

.topLine {
	top: 0;
}

.bottomLine {
	bottom: 0;
}

.topLine.medium,
.bottomLine.medium {
	width: 40%;
}

.topLine.big,
.bottomLine.big {
	width: 70%;
}

.topLine.complete,
.bottomLine.complete {
	width: 100%;
}
/* End box decorator */


/* Classes for texts */
.container .title {
	position: relative;
	margin: 0 auto;
	text-align: center;
	padding: .25em 10px .35em 10px;
}
/* End classes for texts */


/* Default stuff */

	/*forms*/
	.slidyForm .field {
		position: relative;
		width: 90%;
		height: 50px;
		margin: 0 auto;
		margin-top: 1em;
	}

	.slidyForm .field input {
		position: relative;
		outline: none;
		border: none;
	  background-color: #aaaaaa;
	  width: 68%;
	  height: 25px;
	  padding: 12.5px 2%;
	  padding-left: 30%;
	  color: #313A3D;
	  font-size: 1em;
	  letter-spacing: 0.05em;
	}

	.slidyForm .field label {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #353535;
		z-index: 1;
		text-align: center;
		color: #aaaaaa;

		transition: width ease .4s;
	}

	.slidyForm .field:hover label {
		width: 28%;
	}
	
	.slidyForm .field label p{
		margin-top: 1.2em;
		font-size: .9em;
	}

	.slidyForm .field .labelShort {
		width: 28%;
	}
	/*end forms*/

	/*Hexagono*/
	.hexagon {
	  position: absolute;
	  width: 98px; 
	  height: 57.74px;
	  background-color: #d3d3d3;
	  margin: 28.87px 0;
	  border-left: solid 3px #f6f6f6;
	  border-right: solid 3px #f6f6f6;

	  	transition: background-color 0.6s ease-out;
	}

	.hexagon:before,
	.hexagon:after {
	  content: "";
	  position: absolute;
	  z-index: 1;
	  width: 70.71px;
	  height: 70.71px;
	  -webkit-transform: scaleY(0.5774) rotate(-45deg);
	  -ms-transform: scaleY(0.5774) rotate(-45deg);
	  transform: scaleY(0.5774) rotate(-45deg);
	  background-color: inherit;
	  left: 11.6447px;
	}

	.hexagon:before {
	  top: -36.5px;
	  border-top: solid 4.2426px #f6f6f6;
	  border-right: solid 4.2426px #f6f6f6;
	}

	.hexagon:after {
	  bottom: -38px;
	  border-bottom: solid 4.2426px #f6f6f6;
	  border-left: solid 4.2426px #f6f6f6;
	}

	/*End Hexagono*/


/* End default stuff */




/* Things I dont know where to put  */

	/* parent must have property overflow: hidden */
.diagonalBox.right,
.diagonalBox.left {
	position: relative;
	margin: 0 auto;
	width: 400px;
	height: 400px;
	background-color: green;
}

.diagonalBox.right {
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.diagonalBox.left {
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

/* End of the unknown things*/



/* MOMENTANEAMENTE SE PONDRÁN LAS ANIMACIONES AQUÍ */

	@-webkit-keyframes disappear {
	  from, 50% {
	    opacity: 1;
	  }

	  25%, 75%, 100% {
	    opacity: 0;
	  }
	}

	@keyframes disappear {
	  from, 50% {
	    opacity: 1;
	  }

	  25%, 75%, 100% {
	    opacity: 0;
	  }
	}

	.disappear {
	  -webkit-animation-name: disappear;
	  animation-name: disappear;
	}

/* END OF ANIMATIONS */