<div class="transContainer">
	<div id="cont1" class="seccion part1">
		<div class="blackScreen"></div>
		<div class="content">
			<div class="imgContainer">
				<img ng-src="../../../assets/images/logos/logoWhite.png">
			</div>

			<div class="textContainer">
				<h1>HELLO</h1>
				<button ng-href="#cont2" du-smooth-scroll du-scrollspy duration="1500" offset="88.9">Get to know us <span>better.</span></button>
				<div class="arrowImagen">
					<img ng-src="../../../assets/images/icons/flatArrowLargeWhite.png">
				</div>
			</div>
		</div>
	</div>

	<div id="cont2" class="seccion part2">
		<div class="imgContainer bottomArrow unselectable">
			<img ng-src="../../../assets/images/icons/fullFlatArrowSec1.png">
		</div>


		<div class="squareDetail" ng-if="vm.isDesktop()"></div>
		<div class="rightLines" line-generator ng-if="vm.isDesktop()">
		</div>
		<div class="content">
			<div class="imgContainer">
				<img ng-src="../../../assets/images/logos/logo.png">
			</div>

			<div class="textContainer">
				<h1>ABOUT US</h1>
				<div class="threeDots flexBox center">
					<div class="dot"></div>
					<div class="dot middle"></div>
					<div class="dot"></div>
				</div>
				<p><span>TransLegal Group</span> was formed to offer the legal translation industry a high quality service at a more accessible price than the industry standard. The company was established to serve the multilingual needs of the legal community worldwide, as the primary focus of our business. We specialize in customizing efficient, comprehensive solutions for complex multilingual litigations, arbitrations, investigations, and corporate transactions. Our team offers expertise in all sectors and practice areas and has assisted clients with several legal matters.</p>
				<div class="imgContainer">
					<img ng-src="../../../assets/images/icons/flatArrowLarge.png">
				</div>
			</div>
		</div>
	</div>
	
	<div id="cont3" class="seccion part3">
		<div class="imgContainer bottomArrow unselectable">
			<img ng-src="../../../assets/images/icons/fullFlatArrow.png">
		</div>


		<div class="blackScreen"></div>
		<div class="squareDetail" ng-if="vm.isDesktop()"></div>
		<div class="content">
			<div class="textContainer">
				<h1>WHY WE ARE DIFFERENT</h1>
				<div class="threeDots flexBox center">
					<div class="dot"></div>
					<div class="dot middle"></div>
					<div class="dot"></div>
				</div>
				<p>We offer a high quality service at the lowest rates in the industry. Members of our team have more than ten years of experience translating documents for cross border legal cases. We seek efficiency through a group of prepared professionals that provide distinguished translation services for a fair price. In other words, we have the best quality to price ratio of the industry. Our specialization in legal documents requires us to have strict procedures to secure our clients' confidentiality.</p>
			</div>
			<div class="valuesContainer flexBox center wrap ">
				<div ng-repeat="value in vm.values">
					<p>{{value.name}}</p>
					<progresive-bar fill="value.size"></progresive-bar>
				</div>
				<div class="imgContainer">
					<img ng-src="../../../assets/images/icons/flatArrowLargeWhite.png">
				</div>
			</div>
		</div>
	</div>	
	
	<div id="cont4" class="seccion part4">
		<div class="imgContainer bottomArrow unselectable">
			<img ng-src="../../../assets/images/icons/fullFlatArrowSec2.png">
		</div>


		<div class="squareDetail" ng-if="vm.isDesktop()"></div>
		<div class="rightLines" line-generator ng-if="vm.isDesktop()"></div>
		<div class="content">
			<div class="textContainer">
				<h1>SERVICES & LANGUAGES</h1>

				<div class="threeDots flexBox center">
					<div class="dot"></div>
					<div class="dot middle"></div>
					<div class="dot"></div>
				</div>

				<p><span>TransLegal Group</span> simplifies procurement for legal professionals, letting you efficiently coordinate expert translation services for any project or transaction. We translate all types of documents, specifically legal documents in English, Spanish, Portuguese and French. Our services include legal document translation, certified legal document translation, and interpreting. We offer standard and expedited services depending on our client's needs.</p>

				<h3>
					We provide translations in:<br>
					<span>English, Spanish, Portuguese & French</span><br>
					making us a Multilanguage translation services provider to satisfy the needs of enterprises and individuals with exposure in the United States of America, Latin America and Europe. 

				</h3>
				<div class="threeDots big flexBox center">
					<div class="dot"><p>EN</p></div>
					<div class="dot"><p class="littleMore">ES</p></div>
					<div class="dot"><p>PT</p></div>
					<div class="dot"><p>FR</p></div>
				</div>
				<div class="imgContainer">
					<img ng-src="../../../assets/images/icons/flatArrowLarge.png">
				</div>
			</div>
		</div>
	</div>
	
	<div id="cont5" class="seccion part5">
		<div class="imgContainer bottomArrow unselectable">
			<img ng-src="../../../assets/images/icons/fullFlatArrow.png">
		</div>


		<div class="blackScreen"></div>
		<div class="squareDetail" ng-if="vm.isDesktop()"></div>
		<div class="content">
			<div class="textContainer">
				<h1>REQUEST A QUOTE</h1>

				<div class="threeDots flexBox center">
					<div class="dot"></div>
					<div class="dot middle"></div>
					<div class="dot"></div>
				</div>

				<p>
					Feel free to request a quote to compare our price to the industry standards.
					<br>
					Write an email to <span>quote@translegalgroup.com</span> indicating the number of words or by attaching the document and your delivery needs (ordinary or expedited).
				</p>

				<div class="buttonQuote">
					<a href="mailto:quote@translegalgroup.com"><button>
						We are here to serve <span>you.</span>
					</button></a>
				</div>

			</div>
		</div>		
	</div>	
</div>