.transContainer {
	position: relative;
	top: 0;
	margin-top: 0;
	overflow: hidden;
}

.transContainer .seccion {
	position: relative;
	width: 100%;
	height: 37em;
	overflow: hidden;
}

.transContainer .seccion .blackScreen {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #222633;
	opacity: 0.7;
}

.transContainer .part1,
.transContainer .part3,
.transContainer .part5 {
	background-position: 10%;
	background-size: cover;
}

.transContainer .part1 {
	margin-top: 5.5em;
	background-image: url('../../../assets/images/fondos/1.jpg');
}

.transContainer .part1 .content {
	position: relative;
	margin: 0 auto;
	margin-top: 7em;
	width: 230px;
	height: 290px;
	font-family: 'galette';
	font-weight: bold;
}

.transContainer .part1 .content .imgContainer {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	opacity: 0.2;
	height: 100%;
	width: 169px;
}

.transContainer .part1 .content .imgContainer img {
	position: absolute;
	height: 100%;
}

.transContainer .part1 .content .textContainer {
	position: relative;
	margin: 0 auto;
	top:3.6em;
	text-align: center;
}

.transContainer .part1 .content .textContainer h1 {
	font-size: 5em;
	color: #f6f6f6;
}

.transContainer .part5 .content > .textContainer .buttonQuote button,
.transContainer .part1 .content .textContainer button {
	width: 90%;
	height: 2em;
	font-size: 1.1em;
	background-color: transparent;
	outline: 0;
	border: 2px solid #f6f6f6;
	color: #f6f6f6;
}

.transContainer .part2 {
	height: 23.2em;	
}

.transContainer .part5 .content,
.transContainer .part4 .content,
.transContainer .part3 .content,
.transContainer .part2 .content {
	position: relative;
	margin: 0 auto;
	width: 600px;
}

.transContainer .part2 .content > .imgContainer {
	position: relative;
	margin: 0 auto;
	margin-top: 1.8em;
	width: 25px;
	height: 40px;
	margin-bottom: 2.5em; 
}

.transContainer .part2 .content > .imgContainer img {
	position: absolute;
	width: 100%;
}

.transContainer .part5 .content > .textContainer,
.transContainer .part4 .content > .textContainer,
.transContainer .part3 .content > .textContainer,
.transContainer .part2 .content > .textContainer {
	position: relative;
	width: 100%;

}

.transContainer .part5 .content > .textContainer h1,
.transContainer .part4 .content > .textContainer h1,
.transContainer .part3 .content > .textContainer h1,
.transContainer .part2 .content > .textContainer h1 {
	text-align: center;
	font-size: 2.3em;
	font-weight: bold;
	letter-spacing: 0.065em;
	font-family: 'galette';
}

.transContainer .part5 .content > .textContainer .threeDots,
.transContainer .part4 .content > .textContainer .threeDots,
.transContainer .part3 .content > .textContainer .threeDots,
.transContainer .part2 .content > .textContainer .threeDots {
	margin-top: 1em;
	margin-bottom: 1em;
}

.transContainer .part5 .content > .textContainer .threeDots .dot,
.transContainer .part4 .content > .textContainer .threeDots .dot,
.transContainer .part3 .content > .textContainer .threeDots .dot,
.transContainer .part2 .content > .textContainer .threeDots .dot {
	position: relative;
	width: 6px;
	height: 6px;
	border-radius: 15px;
	background-color: #ac1f2d;
}

.transContainer .part5 .content > .textContainer .threeDots .dot.middle,
.transContainer .part4 .content > .textContainer .threeDots .dot.middle,
.transContainer .part3 .content > .textContainer .threeDots .dot.middle,
.transContainer .part2 .content > .textContainer .threeDots .dot.middle {
	margin-left: .5em;
	margin-right: .5em;
}

.transContainer .part5 .content > .textContainer p,
.transContainer .part4 .content > .textContainer p,
.transContainer .part3 .content > .textContainer p,
.transContainer .part2 .content > .textContainer p {
	text-align: justify;
	font-family: 'ubuntu-regular';
	font-size: .85em;
	line-height: 1.5em;
}

.transContainer .part4 .content > .textContainer p, 
.transContainer .part2 .content > .textContainer p  {
	color: #787878;
}

.transContainer .part4 .content > .textContainer > .imgContainer,
.transContainer .part3 .content > .valuesContainer .imgContainer,
.transContainer .part2 .content > .textContainer > .imgContainer {
	position: relative;
	margin: 0 auto;
	margin-top: 1.5em;
	width: 20px;
	height: 10px;
}

.transContainer .part4 .content > .textContainer > .imgContainer img,
.transContainer .part3 .content > .valuesContainer .imgContainer img,
.transContainer .part2 .content > .textContainer > .imgContainer img {
	position: absolute;
	width: 100%;
}

.transContainer .part3 {
	background-image: url('../../../assets/images/fondos/2.jpg');
	height: 32.5em;
}

.transContainer .part5 .content > .textContainer h1,
.transContainer .part3 .content > .textContainer h1 {
	color: #f6f6f6;
	margin-top: 2em;
}

.transContainer .part5 .content > .textContainer p,
.transContainer .part3 .content > .textContainer p {
	color: #f6f6f6; 
}

.transContainer .part3 .content > .valuesContainer {
	position: relative;
	width: 106%;
	left: -2.6%;
	overflow: hidden;
	margin-top: 2em;
	font-family: 'galette';
}

.transContainer .part3 .content > .valuesContainer > div {
	position: relative;
	width: 45%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	height: 2.15em;
	margin-bottom: 1em;
}

.transContainer .part3 .content > .valuesContainer > div p{
	font-size: .9em;
	font-weight: bold;
	letter-spacing: .05em;
	color: #b20026;
}

.transContainer .part3 .content > .valuesContainer .barValue {
	position: absolute;
	width: 100%;
	height: 1em;
	bottom: 0;
	background-color: #ffffff;
}

.transContainer .part4 .content > .textContainer h1 {
	margin-top: 2em;
}

.transContainer .part4 .content > .textContainer h3 {
	font-family: 'ubuntu-regular';
	margin-top: 1em;
	color: #a6a6a6;
	line-height: 1.30em;
}

.transContainer .part4 {
	height: 32.5em;
}

.transContainer .part4 .content > .textContainer h3 span {
	font-style: italic;
	color: #ac1f2d;
	font-size: 1.1em;
	font-weight: bold;
}

.transContainer .part4 .content > .textContainer .threeDots.big {
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 1em;
}

.transContainer .part4 .content > .textContainer .threeDots.big > .dot {
	width: 30px;
	height: 30px;
	margin-right: 1em;
}

.transContainer .part5 {
	height: 23.5em;
}

.transContainer .part5 .content > .textContainer .buttonQuote {
	text-align: center;
	margin-top: 2em;
}

.transContainer .part5 .content > .textContainer .buttonQuote button{
	width: 270px;
	height: 2.3em;
}

.transContainer .part5 {
	background-image: url('../../../assets/images/fondos/3.jpg');
}

.transContainer .part5 .squareDetail,
.transContainer .part4 .squareDetail,
.transContainer .part3 .squareDetail,
.transContainer .part2 .squareDetail {
	position: absolute;
	left: 10em;
	top: 7.5em;
	width: 21px;
	height: 21px;
	z-index: 5;
}

.transContainer .part4 .squareDetail,
.transContainer .part2 .squareDetail {
	background-color: #AC1F2D
}

.transContainer .part5 .squareDetail,
.transContainer .part3 .squareDetail {
	background-color: #f6f6f6; 
}

.transContainer .part4 .rightLines, 
.transContainer .part2 .rightLines {
	position: absolute;
	right: 0;
	width: 150px;
	height: 100%;
}